.anvicerequest_wrap {
    height: 1670px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center; /* 추가: 화면 가운데 정렬 */
    text-align: center;
    margin-bottom: 100px;
    padding-bottom: 500px;
    font-family: "돋움", Dotum, Arial, sans-serif;
}

.request_usertable{
    width: 850px;
    height: 200px;
    display: flex;
    flex-direction: column;
    border-top: 2px solid #10b3cc;
    border-left: none; /* 왼쪽 테두리 없음 */
    border-right: none; /* 오른쪽 테두리 없음 */
    margin-bottom: 65px;
}

.row_box{
    display: flex;
    align-items: center;
    height: 128px;
    border-collapse: collapse;
    /* border: 1px solid black; */
    border-bottom: 1px solid #423f3f; /* 하단 테두리 색상 */
}

.title_box{
    display: flex;
    justify-content: start;
    align-items: center;
    border-right: 1px solid black;
    height: 52px;
    width: 128px;
    padding-left: 20px;
    background: #f5f5f5; 
}

.input_box{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 52px;
    padding-left: 20px;
    width: 250px;
}

.row_contentbox{
    height: 128px;
}

.count_box{
    height : 118px;
    display : flex;
    flex-direction : column;
    justify-content : end;
}

.request_othertable{
    width: 850px;
    height: 300px;
    display: flex;
    flex-direction: column;
    border-top: 2px solid #10b3cc;
    border-left: none; /* 왼쪽 테두리 없음 */
    border-right: none; /* 오른쪽 테두리 없음 */
    margin-bottom: 65px;
}

.request_questiontable{
    width: 850px;
    height: 300px;
    display: flex;
    flex-direction: column;
    border-top: 2px solid #10b3cc;
    border-left: none; /* 왼쪽 테두리 없음 */
    border-right: none; /* 오른쪽 테두리 없음 */
    margin-bottom: 65px;
}

.file_table{
    width: 850px;
    height: 400px;
    display: flex;
    flex-direction: column;
    border-top: 2px solid #10b3cc;
    border-left: none; /* 왼쪽 테두리 없음 */
    border-right: none; /* 오른쪽 테두리 없음 */
    margin-bottom: 65px;
}

.iconbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: center;
    width: 880px;
}

div.complete{
    margin-top: 50px;
    display: flex;
    align-items: center; /* 수직 정렬을 위해 사용 */
    justify-content: center;
}

.title {
    margin-bottom: -20px;
    font-size: 2.5rem;
    color: #0f3a75;
}

.title_bottom {
    font-size: 1.125rem;
    color: #0f3a75;
}

.tit {
    background: url(../img/bullet.png) 0 2px no-repeat;
    padding-left: 10px;
    font-size: 25px;
    color: #1b699b;
    margin-bottom: 17px;
    margin-left: 10px;
}

.request_patienttable{
    width: 850px;
    height: 350px;
    display: flex;
    flex-direction: column;
    border-top: 2px solid #10b3cc;
    border-left: none; /* 왼쪽 테두리 없음 */
    border-right: none; /* 오른쪽 테두리 없음 */
    margin-bottom: 65px;
}

.complete_button {
    display: inline-block;
    font-size: 0.813rem;
    background-color: #10b3cc; /* 배경색 설정 */
    color: #fff; /* 텍스트 색상 설정 */
    height: 40px;
    width: 100px;
    border: 2px solid #10b3cc; /* 테두리 설정 */
    border-radius: 5px; /* 테두리의 꼭짓점을 둥글게 만듦 */
    margin: 0 20px;
    
    cursor: pointer; /* 커서를 포인터로 변경하여 클릭 가능한 상태로 표시 */
    transition: background-color 0.3s ease; /* 배경색 변화에 대한 전환 효과 추가 */
}

.complete_button:hover {
    background-color: #0d8aa8; /* 호버 상태일 때의 배경색 */
    border-color: #0d8aa8; /* 호버 상태일 때의 테두리 색상 변경 */
}

.request_patienttable textarea,
.request_othertable textarea {
    width: calc(100% - 40px); /* 텍스트 영역의 너비를 조정하여 테두리를 고려합니다. */
    max-width: calc(100% - 40px); /* 최대 너비도 설정하여 텍스트 영역이 너무 커지지 않도록 합니다. */
    min-width: calc(100% - 40px); /* 최소 너비도 설정하여 텍스트 영역이 너무 작아지지 않도록 합니다. */
    height: 100px; /* 텍스트 영역의 높이를 조정합니다. */
    margin: 5px 0; /* 위아래 여백을 추가합니다. */
    padding: 10px; /* 내부 여백을 추가합니다. */
    resize: none; /* 사용자가 텍스트 영역의 크기를 조정하지 못하도록 합니다. */
}

.input_box{
    width: 600px;
}
.file_label{
    padding: 0;
    position: relative;
    width: 80px;
}
.btn_file{
    height: 25px;
    z-index: 1;
    width: 100%;
    background-color: #10b3cc;
    border : none;
    padding: 0;
    color: white;
}
.input_file{
    opacity: 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.file_msg{
    font-size : 12px;
    margin-left: 5px;
}
.btn_preview{
    width: 80px;
    height: 25px;
    background-color: #10b3cc;
    border: none;
    cursor: pointer;
    color: white;
}
.btn_file_cancle{
    border: none;
    background-color: white;
    color: red;
}
.btn_file_download{
    background-color: #10b3cc;
    width: 80px;
    height: 25px;
    border: none;
}
.btn_file_download a{
    color: white;
    text-decoration: none;
}
.errmsg{
    color: red;
    font-size: 0.625rem;
    margin-left: 10px;
}