.detailform {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: relative;
  height: auto;
  font-family: "돋움", Dotum, Arial, sans-serif;
}
.write_titleinput{
  width: 700px;
  height: 30px;
  margin-left: 10px;
}
.inquiry_title {
  width: 850px;
  display: flex;
  justify-content: start;
  margin-bottom: 80px;
}
.write_content{
  padding: 20px 20px 20px 20px;
}
.detail_table{
  width: 850px;
  height: 330px;
  display: flex;
  flex-direction: column;
  border-top: 2px solid #10b3cc;
  border-left: none; /* 왼쪽 테두리 없음 */
  border-right: none; /* 오른쪽 테두리 없음 */
}
.detail_table textarea {
  width: calc(100% - 50px); /* 텍스트 영역의 너비를 조정하여 테두리를 고려합니다. */
  max-width: calc(100% - 50px); /* 최대 너비도 설정하여 텍스트 영역이 너무 커지지 않도록 합니다. */
  min-width: calc(100% - 50px); /* 최소 너비도 설정하여 텍스트 영역이 너무 작아지지 않도록 합니다. */
  height: 300px; /* 텍스트 영역의 높이를 조정합니다. */
  margin: 5px 5px 50px; /* 위아래 여백을 추가합니다. */
  resize: none; /* 사용자가 텍스트 영역의 크기를 조정하지 못하도록 합니다. */
}
.detail_rowbox{
  display: flex;
  align-items: center;
  height: 50px;
  border-collapse: collapse;
  /* border: 1px solid black; */
  border-bottom: 1px solid #423f3f; /* 하단 테두리 색상 */
}


.title {
  margin-bottom: -20px;
  font-size: 2.5rem;
  color: #0f3a75;
}

.detail_titleinputbox{
  display: flex;
  justify-content: start;
  align-items: center;
  height: 52px;
  padding-left: 20px;
  width: 250px;
}
.detail_titleinput{
  width: 700px;
  height: 30px;
  margin-left: 10px;
}
.detail_writerinfo{
  display: flex;
  align-items: center;
  width: 285px;
}
.detail_title{
  display: flex;
  justify-content: start;
  align-items: center;
  border-right: 1px solid black;
  height: 50px;
  width: 80px;
  padding-left: 20px;
  background: #f5f5f5;
}
.detail_writerinfocontent{
  width: 175px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 20px;
}
.detail_contentrowbox{
  height: 200px;
}
.detail_contenttitle{
  display: flex;
  justify-content: start;
  align-items: center;
  border-right: 1px solid black;
  height: 200px;
  width: 80px;
  padding-left: 20px;
  background: #f5f5f5;
}
.detail_contentbox{
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail_content{
  display: flex;
  justify-content: start;
  height: 54px;
  padding-left: 10px;
  width: 250px;
  padding-top: 10px;
  
}

.detail_table textarea {
  width: calc(100% - 40px); /* 텍스트 영역의 너비를 조정하여 테두리를 고려합니다. */
  max-width: calc(100% - 40px); /* 최대 너비도 설정하여 텍스트 영역이 너무 커지지 않도록 합니다. */
  min-width: calc(100% - 40px); /* 최소 너비도 설정하여 텍스트 영역이 너무 작아지지 않도록 합니다. */
  height: 100px; /* 텍스트 영역의 높이를 조정합니다. */
  margin: 5px 5px 50px; /* 위아래 여백을 추가합니다. */
  resize: none; /* 사용자가 텍스트 영역의 크기를 조정하지 못하도록 합니다. */
  border: none;
}

.contentcount{
  width: 100px;
  display: flex;
  margin-top: 80px;
  margin-right: 350px;
  justify-content: end;
}
.btn_writequestionbox{
  width: 850px;
  display: flex;
  justify-content: end;
}
.btn_writequestionbox{
  display: flex;
  width: 300px;
  justify-content: space-around;
  align-items: center;
}
.btn_writequestion {
  margin-top: 20px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border: none;
  font-size: 16px;
  width: 100px;
  &:hover {
    background-color: #0056b3;
  }
}
.detailButtonbox{
  display: flex;
  width: 400px;
  justify-content: space-around;
  align-items: center;
}
.detailButton {
  margin-top: 20px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border: none;
  font-size: 16px; margin-top: 15px;
  width: 850px;
  display: flex;
  justify-content: end;
  width: 100px;
  &:hover {
    background-color: #0056b3;
  }
}
.complete {

  width: 850px;
  display: flex;
  justify-content: end;
}

.btt_write {
  display: inline-block;
  font-size: 0.8rem;
  background-color: #10b3cc; /* 배경색 설정 */
  color: #fff; /* 텍스트 색상 설정 */
  height: 35px;
  width: 60px;
  border: 2px solid #10b3cc; /* 테두리 설정 */
  border-radius: 5px; /* 테두리의 꼭짓점을 둥글게 만듦 */
  margin: 0 5px;

  cursor: pointer; /* 커서를 포인터로 변경하여 클릭 가능한 상태로 표시 */
  transition: background-color 0.3s ease; /* 배경색 변화에 대한 전환 효과 추가 */
}
.btt_write:hover {
  background-color: #0d8aa8; /* 호버 상태일 때의 배경색 */
  border-color: #0d8aa8; /* 호버 상태일 때의 테두리 색상 변경 */
}

.inputWithoutBorder {
  border: none;
  outline: none;
}

.textareaWithoutBorder {
  border: none;
  outline: none;
  resize: none;
}

.preAndNext_table{
  width: 850px;
  height: 80px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid black;
  border-left: none; /* 왼쪽 테두리 없음 */
  border-right: none; /* 오른쪽 테두리 없음 */
  margin-bottom: 65px;
  margin-top: 80px;
}

.preAndNext_row_box{
  display: flex;
  align-items: center;
  height: 40px;
  border-collapse: collapse;
  /* border: 1px solid black; */
  border-bottom: 1px solid #423f3f; /* 하단 테두리 색상 */
}

.preAndNext_title_box{
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  height: 40px;
  width: 128px;
  background: #f5f5f5;
  cursor: pointer;
}

.preAndNext_input_box{
  display: flex;
  justify-content: start;
  align-items: center;
  height: 50px;
  padding-left: 20px;
  width: 250px;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }

}
.input_box{
  display: flex;
  justify-content: start;
  align-items: center;
  height: 80px;
  padding-left: 20px;
  width: 250px;
}

.write_rowbox{
  display: flex;
  align-items: center;
  height: 80px;
  border-collapse: collapse;
  /* border: 1px solid black; */
  border-bottom: 1px solid #423f3f; /* 하단 테두리 색상 */
}
.write_content{
  padding: 20px 20px 20px 20px;
}
.write_contentrowbox{
  height: 200px;
}
.write_title{
  display: flex;
  justify-content: start;
  align-items: center;
  border-right: 1px solid black;
  height: 200px;
  width: 80px;
  padding-left: 20px;
  background: #f5f5f5;
}