.join_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "돋움", Dotum, Arial, sans-serif;
}

.icon {
    color: #f4a460;
}

div.tb {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

div.tb .joinpage_table {
    border-collapse: collapse;
    width: 850px;
    max-width: 100%;
    margin: 10px;
}

div.tb .joinpage_table .joinpage_td,
div.tb .joinpage_table .joinpage_th {
    border: 1px solid black; /* Keep border for td and th */
    text-align: left;
    padding: 10px;
}

div.tb .joinpage_table tr {
    border: none; /* Remove border for tr */
}

tr.zipcode_tb {
    height: 100px;
}

div.complete {
    margin-top: 50px;
    display: flex;
    align-items: center; /* 수직 정렬을 위해 사용 */
    justify-content: center;
}

.btt_complete {
    display: inline-block;
    font-size: 1.2rem;
    background-color: #10b3cc; /* 배경색 설정 */
    color: #fff; /* 텍스트 색상 설정 */
    height: 50px;
    width: 180px;
    border: 2px solid #10b3cc; /* 테두리 설정 */
    border-radius: 5px; /* 테두리의 꼭짓점을 둥글게 만듦 */
    margin: 0 20px;
    cursor: pointer; /* 커서를 포인터로 변경하여 클릭 가능한 상태로 표시 */
    transition: background-color 0.3s ease; /* 배경색 변화에 대한 전환 효과 추가 */
    opacity: 1; /* 버튼이 비활성화되지 않은 경우에는 투명도를 1로 설정 */
}

.btt_complete:disabled {
    background-color: #ccc; /* 비활성화된 상태일 때의 배경색 */
    border-color: #ccc; /* 비활성화된 상태일 때의 테두리 색상 변경 */
    cursor: not-allowed; /* 클릭할 수 없는 상태이므로 커서를 변경 */
}

.btt_complete:hover:enabled {
    background-color: #0d8aa8; /* 호버 상태일 때의 배경색 */
    border-color: #0d8aa8; /* 호버 상태일 때의 테두리 색상 변경 */
}

.iconbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: center;
    width: 880px;
    margin: 0 auto 20px;
}

.tit {
    background: url(../img/bullet.png) 0 2px no-repeat;
    padding-left: 10px;
    font-size: 25px;
    color: #1b699b;
    margin-bottom: 17px;
    margin-left: 10px;
}

.title {
    margin-bottom: -20px;
    font-size: 2.5rem;
    color: #0f3a75;
}

.join_usertable{
    width: 850px;
    height: 490px;
    display: flex;
    flex-direction: column;
    border-top: 2px solid #10b3cc;
    border-left: none; /* 왼쪽 테두리 없음 */
    border-right: none; /* 오른쪽 테두리 없음 */
    margin-bottom: 85px;
}

.user_row_box{
    display: flex;
    align-items: center;
    height: 50px;
    border-collapse: collapse;
    /* border: 1px solid black; */
    border-bottom: 1px solid #423f3f; /* 하단 테두리 색상 */
}

.user_title_box{
    display: flex;
    justify-content: start;
    align-items: center;
    border-right: 1px solid black;
    height: 50px;
    width: 200px;
    padding-left: 20px;
    background: #f5f5f5;
}

.user_input_box{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 50px;
    padding-left: 20px;
    width: 1050px;
}

.user_address_title_box{ 
    display: flex;
    justify-content: start;
    align-items: center;
    border-right: 1px solid black;
    height: 80px;
    width: 200px;
    padding-left: 20px;
    background: #f5f5f5;
}

.user_address_input_box{ 
    display: flex;
    justify-content: center;
    align-items: start;
    height: 80px;
    padding-left: 20px;
    width: 1050px;
    flex-direction: column;
}

.join_companytable{
    width: 850px;
    height: 330px;
    display: flex;
    flex-direction: column;
    border-top: 2px solid #10b3cc;
    border-left: none; /* 왼쪽 테두리 없음 */
    border-right: none; /* 오른쪽 테두리 없음 */
}
.company_address_title_box{ 
    display: flex;
    justify-content: start;
    align-items: center;
    border-right: 1px solid black;
    height: 80px;
    width: 200px;
    padding-left: 20px;
    background: #f5f5f5;
}

.company_address_input_box{ 
    display: flex;
    justify-content: center;
    align-items: start;
    height: 80px;
    padding-left: 20px;
    width: 1050px;
    flex-direction: column;
}

.company_row_box{
    display: flex;
    align-items: center;
    height: 50px;
    border-collapse: collapse;
    /* border: 1px solid black; */
    border-bottom: 1px solid #423f3f; /* 하단 테두리 색상 */
}

.company_title_box{
    display: flex;
    justify-content: start;
    align-items: center;
    border-right: 1px solid black;
    height: 50px;
    width: 200px;
    padding-left: 20px;
    background: #f5f5f5;
}

.company_input_box{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 50px;
    padding-left: 20px;
    width: 1050px;
}

