.main_header{
    width: 100%;
    height: 110px;
    display: flex;
    position: fixed;
    z-index: 10;
    margin-top: -8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.top_header{
   width: 100%;
   border-bottom: 1px solid black;
   display: flex;
   justify-content: center;
   height: 66px;
}
.top_header_box{
    display: flex;
    justify-content: space-between;
    width: 980px;
    height: 66px;
}
.mainlogo{
    background-image : url('../img/LogoImg.png');
    width : 210px;
    height : 66px;
    background-repeat : no-repeat;
    background-size :210px 45px;
    background-position: 0 15px;
    cursor:pointer;
}
.user_sign{
    display: flex;
    align-items: flex-end;
    height: 53px;
}
.sign_text{
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    font-size: 12px;
}
.navigator{
    width: 100%;
    border-bottom: 1.5px solid;
    display: flex;
    justify-content: center;
}
.navigator_box{
    width: 980px;
    height: 44px;
    display: flex;
    justify-content: center;
}
.menu {
    display: flex;
    width: 980px;
    margin: 0;
    list-style : none; 
    padding: 0;
    justify-content: space-between;
}
.menu > li > button {
    font-size: 1.12rem;
    border: none;
    background-color: white;
    padding-left: 0;
    cursor: pointer;
    padding: 0;
    width: 150px;
    height: 45.35px;
    text-align: center;
    border-bottom: 1.5px solid;
    &:hover{
        color: #2a2ac8;
    }
}
.menu > li{
    width: 150px;
    text-align: center;
    &:hover .button{
        color: #2a2ac8;
    }
}
.submenu{
    position: absolute;
    list-style: none;
    height: 35px;
    padding: 0;
    font-size: 0.94rem;
    cursor: pointer;
    display: none; 
    background-color: #E8E8E8;
    opacity: 0;
    transform: translateY(-20px); /* 초기 위치 지정 (예시로 위로 이동) */
}
.submenu > li {
    line-height: 45px;
}

.menu > li:hover >button{
    color: #2a2ac8;
}
.menu > li:hover .submenu{
    display: block;
    opacity: 1;
    transform: translateY(0); /* 트랜지션 종료 위치 설정 */
    height: 250px;
    width: 150px;
    transition-duration: 1s;
    &:hover{
        display: block;
        height: 250px;
    }
}
/*

.menu button {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    background-color: white;
}
.submenu{
    background-color: #EBEBEB;
}
.submenu span {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}
.submenu > li {
    line-height: 50px;
    background-color: #EBEBEB;
}

.submenu {
    height: 0; 
    overflow: hidden;
}

.menu > li:hover .submenu {
    height: 250px;
    transition-duration: 1s;
    margin-top: 20px;
 }

.main_header{
    display :flex;
    flex-direction: column;
    position: fixed;
    z-index: 10;
    margin-top: -8px;
    background-color: white;
}
.top_header{
    width : 1680px;
    margin-left:10px;
    margin-right:10px;
    display : flex;
    justify-content: space-between;
    align-items: center;
}
.mainlogo {
    background-image : url('../img/LogoImg.png');
    width : 655px;
    height : 78px;
    background-repeat : no-repeat;
    background-size : contain;
    cursor:pointer;
}
.sign_text{
    font-size : 1.8rem;
}
.navigator{
    width : 1720px;
    height : 73px;
    border-top : 1px solid rgba(0,0,0,0.3);
}
.user_sign{
    width : 250px;
    margin-right : 10px;
    display : flex;
    justify-content:space-between;
    align-items: center;
}
.sign_text{
    text-decoration:none;
    color : black;
    border: none;
    background-color: white;
    cursor: pointer;
}
.sign_text:visited {
    color: black;
}
.menu {
    width: 1680px;
    overflow: hidden;
    margin: 50px auto;
    margin-top: 20px;
}

.menu > li {
    width: 16.6%; 
    float: left;
    text-align: center;
    line-height: 40px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: (180deg, #B4B4B4 0%, rgba(217, 217, 217, 0.00) 100%);
    list-style: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: (180deg, #B4B4B4 0%, rgba(217, 217, 217, 0.00) 100%);
    padding: 20px 0 20px 0;
    background-color: white;
    &:hover{
        border-bottom: none;
    }
}

.menu button {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    background-color: white;
}

.submenu span {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

.menu > li:hover .submenu {
    height: 250px;
    transition-duration: 1s;
    margin-top: 20px;
    background-color: #EBEBEB;
 } */